body {
    margin-top: 3rem;
    text-align: center;
    font-family: Verdana;
}

h1 {
    color: #3a489e;
    font-weight: bold;
}

p {
    margin: 4%;
    font-size: large;
}

span {
    font-weight: bold;
}

img {
    margin-bottom: 7%;
    width: 260px;
    height: auto;
}